<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.local.universal-control-watchdog</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__HOME__/Library/Application Support/UniversalControlWatchdog/universal-control-watchdog.zsh</string>
  </array>

  <key>StartInterval</key>
  <integer>60</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__HOME__/Library/Application Support/UniversalControlWatchdog/logs/universal-control-watchdog.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Application Support/UniversalControlWatchdog/logs/universal-control-watchdog.stderr.log</string>
</dict>
</plist>
